.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background: linear-gradient(
      45deg,
      rgba(236, 233, 233, 0.069) 25%,
      transparent 25%,
      transparent 50%,
      rgba(192, 191, 191, 0.1) 50%,
      rgba(171, 169, 169, 0.1) 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.035) 25%,
      transparent 25%,
      transparent 50%,
      rgba(215, 208, 230, 0.051) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    );
  background-size: 20px 20px;
  width: 100vw;
  height: 100vh;
  margin: -10px;
}

.h1Detail {
  font-weight: 600;
}

.imgDetail {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.pDetail {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.buttonDetail {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff6e1f;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.containerRDetail {
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 400px;
  background-color: #edf2f4;
}

.containerRDetail h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.sizeContainer {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hrDetail {
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 15px;
}

.pDetailDescrip {
  background-color: rgba(0, 0, 0, 0.016);
  width: 50%;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.menuButton {
  position: relative;
  display: block;
  width: 100px;
  padding: 10px 0;

  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;

  transition: all 0.5s;
  border: 0;
  color: #ff6e1f;
  align-items: center;
  background-color: #e0ddda00;
  margin-top: 30px;
}

.menuButton:hover {
  padding-right: 5px;
  color: black;
  background-color: #dadee0d5;
  border-radius: 25px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.arrow {
  visibility: hidden;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  height: 12px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 1px;
  background-color: #edf2f400;
}

.menuButton:hover .arrow {
  visibility: visible;
  position: absolute;
  opacity: 1;
}

a {
  text-decoration: none;
}
.carrito {
  width: 60px;
  border: 0;
  border-radius: 50px;
}

.containerCarr {
  border-radius: 50px;
  list-style: none;
  border: 0;
}
