.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background: linear-gradient(
      45deg,
      rgba(236, 233, 233, 0.069) 25%,
      transparent 25%,
      transparent 50%,
      rgba(192, 191, 191, 0.1) 50%,
      rgba(171, 169, 169, 0.1) 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.035) 25%,
      transparent 25%,
      transparent 50%,
      rgba(215, 208, 230, 0.051) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    );
  background-size: 20px 20px;
  width: 100vw;
  height: 100vh;
  margin: -10px;
}

.h1Detail {
  font-weight: 700;
}

.imgDetail {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.pDetail {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttonDetail {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff6e1f;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.containerRDetail {
  padding: 10px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 400px;
  background-color: #edf2f4;
}

.containerRDetail h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.sizeContainer {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hrDetail {
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 15px;
}

.pDetailContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-left: 5px;
}
.pDetailContainer2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-top: 15px;
}
.pDetailContainer p {
  margin-left: 6px;
  border: 1px solid rgba(0, 0, 0, 0.098);
  padding: 0;
  border-radius: 5px;
}
.pDetailContainer label {
  margin-left: 8px;
}

.menuButton {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 0.5s;
  transition: 0.3s linear;
  text-align: center;
}

.menuButton:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}

a {
  text-decoration: none;
}
.carrito {
  width: 50px;
  margin-top: 20px;
  border: 0;
  border-radius: 50px;
  transition: 1s linear;
}
.carrito:hover {
  transition: 1s linear;
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.103);
}

.containerCarr {
  border-radius: 50px;
  list-style: none;
  border: 0;
}

.pDetailDescrip2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.084);
  border-radius: 10px;
  padding: 20px;
}

.buttonDe {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transition: 0.3s linear;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.buttonDe:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}

.contbutt {
  display: flex;
  padding-top: 10px;
  width: 90px;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 800;
}

.contbutt button {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.contbutt {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quantityContainer {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-device-width: 712px) and (max-device-width: 1138px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container {
    animation: fadeIn 1s ease-in;
    display: flex;
    flex-direction: column;
  }
  .imgDetail {
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
  .containerRDetail {
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
    background-color: #edf2f4;
  }
  .pDetailContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    margin-left: 5px;
  }
  .pDetailContainer2 {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }

  .pDetail {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/*celularr*/
@media (max-device-width: 600px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container {
    animation: fadeIn 1s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 0;
    background: none;
    background-size: 20px 20px;
  }

  .imgDetail {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .containerRDetail {
    padding: 20px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
    background-color: #edf2f4;
  }
  .pDetailContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    margin-left: 5px;
  }
  .pDetailContainer2 {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: -10;
    margin-top: 15px;
    padding: 0;
  }
  .pDetail {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .h1Detail {
    font-style: none;
    font-weight: 600;
    font-size: 15px;
  }
}
