.containerCart {
  align-items: center;
  width: 250px;
  margin: top;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.132) 0px 1px 5px;
  border-radius: 20px;
}
.containerCart:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.174) 0px 1px 6px;
  border-radius: 20px;
}

.containerGeneralCart {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartImg {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.detailCart {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.conteienrCards {
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
  /* margin-top: 30px;
  margin-bottom: 30px; */

  width: 100%;
  @media (max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.buttonCart {
  position: relative;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 800;
  font-style: normal;
  transition: all 0.5s;
  color: black;
  align-items: center;
  border: none;
  padding: 7px 10px;
  margin: 5px;
  border-radius: 0px;
  background-color: rgba(193, 7, 7, 0);
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.buttonCart:hover {
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: rotate(3deg);
}

.LogoCart {
  width: 55px;
}

.ContainerButtonCart {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(253, 252, 252, 0);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.084);
  padding-top: 2px;
  padding-bottom: 2px;
}

.totalCart {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.totalCartButton {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 8px;
  cursor: pointer;
  margin: 10px;
  border: 0;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 45px;
  width: 180px;
  transition: all 1s;
}

.totalCartButton:hover {
  background-color: #ff6e1f;
  transition: all 1s;
}

.buttonContainer {
  background-color: #007bff;
  padding: 7px 12px;
  margin: 10px;
  border: 0;
  color: aliceblue;
  border-radius: 10px;
  transition: all 0.5s;
}

.buttonContainer:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
}

.buttonContainer2 {
  padding: 10px;
  margin: 10px;
  border: 0;
  color: black;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.buttonContainer2:hover {
  transition: all 0.5s;
  background-color: rgba(113, 113, 113, 0.089);
  border-radius: 10px;
}

.navCon {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*tablet*/
@media (min-device-width: 712px) and (max-device-width: 1138px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .containerGeneralCart {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
  }
  .totalCart {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .conteienrCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}

/*celular*/

@media (max-device-width: 600px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .containerGeneralCart {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
  }
  .totalCart {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .conteienrCards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .ContainerButtonCart {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 40px 15px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.084);
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
