.buttomBackNext {
  border: 0;
  padding: 10px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 800;
  background-color: rgba(240, 248, 255, 0);
  margin-bottom: 25px;
}

.active {
  padding: 5px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.91);
  color: aliceblue;
  border-radius: 5px;
}
