.generalContainer {
  padding: 0;
  margin: -10px;
  background-image: url(../../assets/Untitled-1-06.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 150px;
  margin-top: 45px;
}

.iconoContainer {
  width: 70px;
}
.iconoContainer:hover {
  transition: 1s linear;
  transform: scale(1.3);
}

.textContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}
.light {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  color: aliceblue;
  margin: -50px;
}
.bold {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  color: aliceblue;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: aliceblue;
  margin-top: -3px;
}

.line {
  background-color: aliceblue;
  color: aliceblue;
  width: 455px;
  margin-top: -30px;
}

.containerButtons {
  display: flex;
  height: 130px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.menuButton {
  position: relative;
  display: block;
  transition: all 0.5s;

  width: 100px;
  padding: 10px 0;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;

  border: 0;
  color: aliceblue;
  align-items: center;
  background-color: #e0ddda00;
}

.menuButton:hover {
  padding-right: 5px;
  color: black;
  background-color: #dadee0d5;
  border-radius: 25px;
  width: 150px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.arrow {
  visibility: hidden;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  height: 20px;
  margin-left: 5px;
  margin-right: 15px;
  background-color: #edf2f400;
}

.menuButton:hover .arrow {
  visibility: visible;
  position: absolute;
  opacity: 1;
}

a {
  text-decoration: none;
}

.containerIcono {
  display: flex;
}

/* diseño de tablet*/

@media (min-device-width: 712px) and (max-device-width: 1138px) and (orientation: portrait) {
  .generalContainer {
    height: 100vh;

    background-image: url(../../assets/fondoTablet-33.png);
    background-size: cover; /* Asegura que toda la imagen se vea sin recortes */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
  }
  .logoContainer {
    width: 150px;
    margin-top: 45px;
  }

  .iconoContainer:hover {
    transition: 1s linear;
    transform: scale(1.3);
  }
  @keyframes moveButton {
    0%,
    100% {
      transform: scale(1.2); /* Tamaño normal */
    }
    50% {
      transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    }
  }
  .iconoContainer {
    font-size: 16px;
    transition: all 1s ease;
    animation: moveButton 2s infinite ease-in-out; /* Aplica la animación */
  }

  .textContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .light {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    color: aliceblue;
  }
  .bold {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    color: aliceblue;
  }

  .line {
    background-color: aliceblue;
    color: aliceblue;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
  }
  .menuButton {
    color: aliceblue;
    font-size: 18px;
    border-bottom: 0.5px solid aliceblue;
  }
  .iconoContainer {
    margin-bottom: 10px;
  }
  .containerButtons {
    height: 150px;
  }
}

/*diseño de dispositivos*/

@media (max-device-width: 600px) and (orientation: portrait) {
  .generalContainer {
    height: 100vh;
    overflow: hidden;
    background-image: url(../../assets/fondoCeluar-02.png);
    background-size: cover; /* Asegura que toda la imagen se vea sin recortes */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
  }
  .menuButton {
    color: aliceblue;
    font-size: 18px;
    border-bottom: 0.5px solid aliceblue;
  }

  @keyframes moveButton {
    0%,
    100% {
      transform: scale(1.2); /* Tamaño normal */
    }
    50% {
      transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    }
  }
  .iconoContainer {
    font-size: 16px;
    transition: all 1s ease;
    animation: moveButton 2s infinite ease-in-out; /* Aplica la animación */
  }

  .light {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    color: aliceblue;
  }
  .bold {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    margin-top: 45px;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    color: aliceblue;
    width: 300px;
    text-align: center;
  }

  .line {
    margin-top: -15px;
    background-color: aliceblue;
    color: aliceblue;
    width: 100%;
  }
  .menuButton {
    color: aliceblue;
    font-size: 15px;
    border-bottom: 0.5px solid aliceblue;
  }
}
