.containerError {
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerError h1 {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
}

.containerError p {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 10px;
}

.containerErrorlink {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 50px;
}
.containerErrorlink:hover {
  background-color: #ff6e1f;
  transition: 0.3s linear;
}

@media (max-device-width: 600px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .containerError {
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in;
    padding: 50px;
  }
}
