.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-image: url(../../assets/fondoDetail-19.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  margin: -10px;
}

.container2 {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  background-color: rgba(255, 254, 254, 0.551);
  align-items: center;
  border-radius: 15px;
  margin-top: 15px;
}

.container h2 {
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}
.container p {
  font-size: 15px;
  margin: 5px;
}
