.containerCard {
  border-bottom: 1px solid #cccccc9e;
  /* border-radius: 2px; */
  /* width: 30vw; */
  max-width: 290px;
  /* margin: 16px; */
  transition: transform 0.2s;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* border: 1px solid red;s */
}

.containerCard:hover {
  transform: scale(1.01);
}

.image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.details {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: #f1f1f1;

  /* Cambia el color del texto a negro */
}

.containerTop {
  display: flex;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  height: max-content;

}

.details h2 {
  font-size: 1.2em;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3px;

  /* Asegura que el color del título también sea negro */
}

.details p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  /* Asegura que el color de los párrafos también sea negro */
}

.detailButton {
  border: 0;
  color: black;
  padding: 8px 45px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.096);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  transform: 1s;
  /* background-color: rgba(240, 248, 255, 0); */
  transition: all 0.2s;
  /* width: 150px; */
  /* width: 1; */
  /* padding: 10px; */
}

.detailButton:hover {
  background-color: #134eff;
  color: aliceblue;
  font-weight: 500;
}

.detailPriceSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* background-color: #1b191814; */
  width: 80px;
  /* border-radius: 20px; */
  height: 24px;
}

.containerPriceSize {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.containerdown {
  display: flex;
  width: 240px;
  justify-content: space-around;
  padding: 10px;
  background-color: #7c76730a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.107);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
}

.detaip {
  margin: 5px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}