.containerCard {
  align-items: center;
  width: 250px;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.132) 0px 1px 5px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.containerCard:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.162) 0px 1px 6px;
  border-radius: 20px;
}

.image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.details {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;

  /* Cambia el color del texto a negro */
}

.containerTop {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: max-content;
}

.details h2 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3px;
  padding: 0px 5px;

  /* Asegura que el color del título también sea negro */
}

.details p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0px 5px;

  /* Asegura que el color de los párrafos también sea negro */
}

.detailPriceSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* background-color: #1b191814; */
  width: 80px;
  /* border-radius: 20px; */
  height: 24px;
}

.containerPriceSize {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.containerdown {
  display: flex;
  width: 240px;
  justify-content: space-around;
  padding: 10px;
  background-color: #7c76730a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.107);
  border-radius: 10px;
  height: 90px;
}

.detaip {
  margin: 5px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.buttonAdd {
  padding: 6px 15px;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.buttonAdd:hover {
  background-color: #ff6e1f;
  transition: 0.3s linear;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.352);
}
/*celular*/
@media (max-device-width: 600px) and (orientation: portrait) {
  .containerCard {
    align-items: center;
    width: 260px;
    margin: top;
    transition: transform 0.2s;
    box-shadow: rgba(0, 0, 0, 0.155) 0px 1px 5px;
    border-radius: 20px;
  }

  .containerCard:hover {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 6px;
    border-radius: 20px;
  }

  .image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .details {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }

  .containerTop {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    height: max-content;
  }

  .details h2 {
    font-size: 1.2em;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 3px;
    padding: 0px 5px;

    /* Asegura que el color del título también sea negro */
  }

  .details p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0px 5px;
  }

  .detailPriceSize {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: #1b191814; */
    width: 80px;
    /* border-radius: 20px; */
    height: 24px;
  }

  .containerPriceSize {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .containerdown {
    display: flex;
    width: 240px;
    justify-content: space-around;
    padding: 10px;
    background-color: #7c76730a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.107);
    border-radius: 10px;
    height: 90px;
  }

  .detaip {
    margin: 5px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .buttonAdd {
    padding: 0.5rem 1rem;
    background-color: #134eff;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .buttonAdd:hover {
    background-color: #ff6e1f;
    transition: 0.3s linear;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.352);
  }
}
/*TABLET*/
@media (min-device-width: 712px) and (max-device-width: 1138px) and (orientation: portrait) {
  .containerCard {
    align-items: center;
    width: 100%;
    margin: top;
    transition: transform 0.2s;
    box-shadow: rgba(0, 0, 0, 0.025) 0px 1px 5px;
    border-radius: 20px;
  }

  .containerCard:hover {
    transform: scale(1.01);
    border-radius: 20px;
  }

  .image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .details {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }

  .containerTop {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    height: max-content;
  }

  .details h2 {
    font-size: 1.2em;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 3px;
    padding: 0px 5px;

    /* Asegura que el color del título también sea negro */
  }

  .details p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0px 5px;
  }

  .detailPriceSize {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: #1b191814; */
    width: 80px;
    /* border-radius: 20px; */
    height: 24px;
  }

  .containerPriceSize {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .containerdown {
    display: flex;
    width: 240px;
    justify-content: space-around;
    padding: 10px;
    background-color: #7c76730a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.107);
    border-radius: 10px;
    height: 90px;
  }

  .detaip {
    margin: 5px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .buttonAdd {
    padding: 0.5rem 1rem;
    background-color: #134eff;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .buttonAdd:hover {
    background-color: #ff6e1f;
    transition: 0.3s linear;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.114);
  }
}
