.card {
  border: 1px solid #cccccc9e;
  border-radius: 8px;
  overflow: hidden;
  width: 280px;
  margin: 16px;
  transition: transform 0.2s;
 
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
  
}

.details {
  padding: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  /* Cambia el color del texto a negro */
}

.details h2 {
  font-size: 1.2em;
  margin: 0 0 8px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  /* Asegura que el color del título también sea negro */
}

.details p {
  margin: 4px 0;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* Asegura que el color de los párrafos también sea negro */
}

.detailButton {
  padding: 8px 16px;
  margin-top: 8px;
  background-color: #1b1918;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  /* Mantiene el color del texto del botón blanco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detailButton:hover {
  background-color: #134eff;
}