.container {
 display: flex;
 flex-direction: column;
 align-items: center;

  background-color: #edf2f4;
  width: 100vw;
  height: 100vh;
  margin: -8px;
 
}


.menuContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 40px;

 
}
.menuContainerIzq{
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.menuButton {
  border: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.menuButton:hover {
  background-color: #0056b3;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-items: center;
}
.logo{
  width: 150px;
  padding: 50px;
}