.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-bottom: 40px;
  justify-content: space-between;
}

.menuContainerIzq {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuContainerR {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  text-decoration: none;
}

.menuButton {
  position: relative;
  display: block;
  width: 100px;
  padding: 9px 9px;

  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;

  transition: all 0.5s;
  color: black;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0);
  margin: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.092);
}

.menuButton:hover {
  color: black;
  border-radius: 15px;
  width: 140px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.092);
  transition: all 0.5s;
}

.arrow {
  visibility: hidden;
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  height: 12px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 1px;
  background-color: #edf2f400;
}

.menuButton:hover .arrow {
  visibility: visible;
  position: absolute;
  opacity: 1;
}

.productList {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 100px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
  justify-items: center;
  /* margin-top: 30px;
  margin-bottom: 30px; */

  width: 100%;
  @media (max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.logo {
  width: 150px;
  padding: 50px;
}
