.filtersContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf2f4bb;
}

.filtersContainer.hidden {
  transform: translateX(-100%);
}

.filtersContainer.visible {
  transform: translateX(0);
}

.filters {
  display: flex;
  flex-direction: column;
}

.filterSectionSize {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #edf4f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.027);
  border-radius: 15px;
  padding: 5px 25px;
  margin-bottom: 15px;
}

.Sizes {
  display: flex;
  height: 25px;
  justify-content: space-around;
  align-items: center;
}

.Sizes :hover {
  font-weight: 700;
}

.Sizes input + label {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 400;
}
.Sizes input[type="checkbox"]:checked + label {
  font-weight: 800;
}

.Sizes input[type="checkbox"] + label:before {
  content: "";
  margin: 0.5em 0.5em 0 0;
  border: 2px solid #ccc;
  background: #fff;
}
.Sizes input[type="checkbox"]:checked + label:before {
  border-color: #000000;
}

.Sizes input[type="checkbox"] {
  display: none;
}

.h4Style {
  margin: 0;
  height: 30px;
}

.h4Style h4 {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

.h4Style2 {
  margin: 0;
  height: 30px;
}

.h4Style2 h4 {
  margin: 0;
  margin-left: 8px;
  font-weight: 500;
  font-size: 12px;
}

.ContainerSize {
  display: flex;
  justify-content: space-around;
  display: flex;
  width: 200px;
}

.filterSection h4 {
  margin: 0 0 0.5rem;
}

.priceFilter {
  display: flex;
  justify-content: space-between;
}

.priceFilter input {
  width: 38%;
  background-color: rgba(0, 0, 0, 0.081);
  border: 0;
  padding: 10px;
  border-radius: 10px;
}

.buttonAplly {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff6e1f;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.buttonAplly:hover {
  background-color: #134eff;
  transition: 0.3s linear;
}

.toggleButton {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transition: 0.3s linear;
  text-align: center;
}

.toggleButton:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}

.ContainerColorIMg {
  width: 15px;
  border-radius: 5px;
}

.colorss {
  display: flex;
  height: 25px;
  justify-content: space-around;
  align-items: center;
}
.colorss :hover {
  border: #6d6d71 solid 1px;
  padding: 3px;
  border-radius: 10px;
}

.colorss input[type="checkbox"] + label:before {
  content: "";
  border: 1px solid #3736368a;
  background-color: #f3f2f2;
  height: 4px;
  padding-left: 10px;
  border-radius: 10px;
  margin: 0;
}
.colorss input[type="checkbox"]:checked + label:before {
  background-color: #000000;
}

.colorss input[type="checkbox"] {
  display: none;
}

.filterSectionGender {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.filterSectionGarden {
  display: flex;
  justify-content: space-around;
  background-color: #edf2f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.051);
  border-radius: 15px;
  padding: 10px 5px;
  margin-bottom: 15px;
}
.genderCon {
  display: flex;
  align-items: center;
  padding: 3px;
}

.genderCon :hover {
  font-weight: 700;
}

.genderCon label {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.genderCon input + label {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.genderCon input[type="checkbox"]:checked + label {
  font-weight: 700;
}

.genderCon input[type="checkbox"] + label:before {
  content: "";
  margin: 0.5em 0.5em 0 0;
  border: 2px solid #ccc;
  background: #fff;
}
.genderCon input[type="checkbox"]:checked + label:before {
  border-color: #000000;
}

.genderCon input[type="checkbox"] {
  display: none;
}

.h3 {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}

.ContainerPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #edf2f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.051);
  border-radius: 15px;
  padding: 5px 25px;
  margin-bottom: 15px;
}

.containerPrice {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.priceValues {
  display: flex;
  padding-left: 10px;
}

.priceValues span {
  font-size: 13px;
  font-weight: 600;
}

.containerSizeList {
  padding: 5px 15px;
  background-color: #a2a2a214;
  margin-bottom: 5px;
  display: flex;
  border: 1px solid rgba(173, 171, 171, 0.42);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.filterSectionSize2 {
  display: flex;
  justify-content: space-around;
  background-color: #edf2f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.051);
  border-radius: 15px;
  padding: 5px 25px;
  margin-bottom: 15px;
}
