.searchBarContainer {
  display: flex;
  align-items: center;
  
}

.searchInput {
  padding: 8px;
  padding-left: 15px;
  border: 0;
  border-radius: 20px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.057);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.searchButton {
  background-color: #007bff00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #0056b3;
}
.clearButton:hover {
  background-color: #0056b3;
}


.imgButton{
  width: 35px;
}


.buttonContainer{
  display: flex;
  width: 100px;
  justify-content: center;
  margin-left: 10px;
}
