.container1 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.112);
  padding: 50px;
}

.h1Titile {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}

.container1 input {
  border: 0;
  background-color: #fcfcfc00;
  border-bottom: 1px solid rgba(0, 0, 0, 0.167);
  width: 200px;
  padding: 15px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.container1 input:focus {
  outline: none;
}

.container1 input:not(:placeholder-shown) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.712);
}
.container1 select {
  background-color: rgba(134, 138, 141, 0.095);
  border: 1px solid rgb(206, 202, 202);
  width: 100px;
  padding: 8px;
  margin-top: 20px;
}

.formbuttons {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
.formbuttons button {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.5s;
  transition: 0.3s linear;
  text-align: center;
}
.formbuttons button:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}
.formbuttons button:disabled {
  background-color: #cccccc90;
  cursor: not-allowed;
}

.containerGeneral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background: linear-gradient(
      45deg,
      rgba(236, 233, 233, 0.069) 25%,
      transparent 25%,
      transparent 50%,
      rgba(192, 191, 191, 0.1) 50%,
      rgba(171, 169, 169, 0.1) 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.035) 25%,
      transparent 25%,
      transparent 50%,
      rgba(215, 208, 230, 0.051) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    );
  background-size: 20px 20px;
  width: 100vw;
  height: 100vh;
  margin: -10px;
}

.img {
  width: 530px;
}

.cntainerRight {
  padding: 50px;
  background-color: #dadee094;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.containerRightSublevel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerDownDatos {
  position: relative;
  display: block;
  width: 200px;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;

  transition: all 0.5s;
  border: 0;
  color: #ff6e1f;
  align-items: center;
  background-color: #e0ddda00;
}

.containerDownDatos:hover {
  transition: all 0.5s;
  color: #134eff;
  font-weight: 800;
}

.containerDown p {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
}

.errorContainer {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 800;
  font-style: normal;
  height: 30px;
  margin-bottom: 50px;
  color: #980303;
}

@media (max-device-width: 600px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .containerGeneral {
    animation: fadeIn 1s ease-in;
  }
  .formbuttons button {
    padding: 0.5rem 1rem;
    background-color: #134eff;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transition: 0.3s linear;
    text-align: center;
  }

  .container1 input {
    border: 0;
    background-color: #fcfcfc00;
    border-bottom: 1px solid rgba(0, 0, 0, 0.167);
    width: 200px;
    padding: 15px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .containerDown p {
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
  }

  .containerDown Link {
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
  }
  .h1Titile {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}
