.container1 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.h1Titile {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.container1 input {
  background-color: rgba(255, 255, 255, 0.414);
  border: 0;
  width: 300px;
  padding: 15px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.formbuttons {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 50px;
}
.formbuttons button {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}
.formbuttons button:hover {
  background-color: #ff6e1f;
  transition: 0.3s linear;
}

.formbuttons button:disabled {
  background-color: #cccccc90;
  cursor: not-allowed;
}

.containerGeneral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-image: url(../../assets/fondoDetail-19.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  margin: -10px;
}

.containerDown {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 0;
}
.containerDownDatosButton {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  width: 70px;
  margin-top: 40px;
  transition: all 0.5s;
}
.containerDownDatosButton:hover {
  background-color: #ff6e1f;
  transition: 0.3s linear;
}

.containerDown p {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
}

.containerDownDatos {
  position: relative;
  display: block;
  width: 200px;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;

  transition: all 0.5s;
  border: 0;
  color: #ff6e1f;
  align-items: center;
  background-color: #e0ddda00;
}

.containerDownDatos:hover {
  transition: all 0.5s;
  color: #134eff;
  font-weight: 800;
}

.errorContainer {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 800;
  font-style: italic;
  height: 30px;
  margin-top: 20px;
  color: #d90303;
}
