.container1 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  width: 230px;
}

.h1Titile {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.inputDatos {
  border: 0;
  background-color: #fcfcfc00;
  border-bottom: 1px solid rgba(0, 0, 0, 0.167);
  width: 200px;
  padding: 15px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.inputDatos:focus {
  outline: none;
}
.inputDatos:not(:placeholder-shown) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.712);
}

.formbuttons {
  display: flex;
  margin-top: 20px;
}
.formbuttons button {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transition: 0.3s linear;
  text-align: center;
}
.formbuttons button:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}

.formbuttons button:disabled {
  background-color: #cccccc90;
  cursor: not-allowed;
}

.containerGeneral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background: linear-gradient(
      45deg,
      rgba(236, 233, 233, 0.069) 25%,
      transparent 25%,
      transparent 50%,
      rgba(192, 191, 191, 0.1) 50%,
      rgba(171, 169, 169, 0.1) 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.035) 25%,
      transparent 25%,
      transparent 50%,
      rgba(215, 208, 230, 0.051) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    );
  background-size: 20px 20px;
  width: 100vw;
  height: 100vh;
  margin: -10px;
}

.containerDown {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0;
}
.containerDownDatosButton {
  padding: 0.5rem 1rem;
  background-color: #134eff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 70px;
  margin-top: 30px;
  transition: all 0.5s;
  transition: 0.3s linear;
  text-align: center;
}
.containerDownDatosButton:hover {
  background-color: #ff6e1f;
  transition: all 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}

.containerDown p {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
}

.containerDownDatos {
  position: relative;
  display: block;
  width: 100%;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;

  transition: all 0.5s;
  border: 0;
  color: #ff6e1f;
  align-items: center;
  background-color: #e0ddda00;
}

.containerDownDatos:hover {
  transition: all 0.5s;
  color: #134eff;
  font-weight: 700;
}

.errorContainer {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 800;
  font-style: normal;
  height: 30px;
  margin-bottom: 50px;
  color: #980303;
}

/*celular*/

@media (max-device-width: 600px) and (orientation: portrait) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .containerGeneral {
    animation: fadeIn 1s ease-in;
  }
  .h1Titile {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 400;
  }

  .inputDatos {
    border: 0;
    background-color: #fcfcfc00;
    border-bottom: 1px solid rgba(0, 0, 0, 0.167);
    width: 200px;
    padding: 25px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .inputDatos:focus {
    outline: none;
  }
  .formbuttons button {
    padding: 0.5rem 1rem;
    background-color: #134eff;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transition: 0.3s linear;
    text-align: center;
  }
  .containerDown p {
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
  }

  .containerDownDatos {
    position: relative;
    display: block;
    width: 200px;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;

    transition: all 0.5s;
    border: 0;
    color: #ff6e1f;
    align-items: center;
    background-color: #e0ddda00;
  }

  .containerDownDatosButton {
    padding: 0.5rem 1rem;
    background-color: #134eff;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 70px;
    margin-top: 30px;
    transition: all 0.5s;
    transition: 0.3s linear;
    text-align: center;
  }
  .containerDown {
    padding-left: 55px;
  }
}
