:root {
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}




body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

