:root {
  
  background-color: #dadee0;



  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}




body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

